
.fixedbottom {
    position: fixed;
    min-height: 50px;
    background-color: #191918;
    border-top: 1px solid #202427;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}