.reverseCol {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
 
}
.headingWhite{
  font-size: 1.5rem;
  color: rgb(53, 53, 53);
  margin: 0 auto;
}
