.fixed {
    position: fixed;
    min-height: 50px;
    background-color: lavenderblush;
    border-bottom: 1px solid rgb(216, 214, 214);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}