.fixedheader {
    position: fixed;
    min-height: 50px;
    background-color: #191918;
    border-bottom: 1px solid #202427;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.logo {
    letter-spacing: -4px;
    font-size: 1.5rem;
}