#usersAvater{
    padding-top: 5px;
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 20px;
}
.grid{
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    /* width: 90%; */
    /* justify-content: center;
    align-items: center; */
}
.item {

    background-color: #747d800f;
    margin: 10px auto;
    border-radius: 20px;
    border: 1px solid #747d8045

}