/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;500&family=Open+Sans:wght@300;400&family=Red+Hat+Mono:wght@500&display=swap'); */
body {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  background-color: #242527;
  color: #e4e5e4;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  /* color: #626a6f; */
  color: #909090;
}

img {
    box-sizing: border-box;
    width: 98%;
    object-fit: cover;
    height: 73vh;
    margin: 0 6px;
}

.container {
  width: 45%;
  margin: 0 auto;
  background-color: #252a2e;
  /* #252a2e */
  /* #18242c */

  box-shadow: 0px 0px 69px -4px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 0px 0px 69px -4px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 0px 0px 69px -4px rgba(0, 0, 0, 0.74);
  min-height: 90vh;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 50px;
}
.stk {
  position: sticky;
}
.icon {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 3px;
  color: #747d80;
}
.divIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user{
    color:#e6e6e6;
    font-size: 0.8rem;
    display: flex;
    align-items: stretch;

}
.date{
    color: #747d80;
    font-size: 0.5rem;

}
.unlike{
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 3px;
    color: #747d80;
}
.like{
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 3px;
    color: #ad2626;
}
.comment{
    /* color:#e6e6e6; */
    font-size: 0.8rem;
    display: flex;
    align-items: stretch;
    padding-left: 7px;
}

.link {
  cursor: pointer;
  font-size: 1rem;
  margin-left: 3px;
  color: #1ebbf0;
}
.darkLink {
  cursor: pointer;
  font-size: 1rem;
  margin-left: 3px;
  color: #18242c;
}
.logoHome {
  letter-spacing: -6px;
  font-size: 2.8rem;
  color: #18242c;
}
.dark{
  color: #18242c;
}
/* #avatar {
  border-radius: 40%;
  width: 60%;
  height: 30%;
  object-fit: fill;
} */
@media screen and (max-width: 480px) {
  .container{
    width: 100%;
  }
  .fixedheader {
    width: 100%;
  }
  .fixedbottom {
    width: 100%;
  }
}
@media screen and (max-width:1200px) {
  .container{
    width: 80%;
  }
  .fixedheader {
    width: 80%;
  }
  .fixedbottom {
    width: 80%;
  }
}